$dropdown-border-radius: 12px;
$dropdown-options-border-radius: 4px;
$disabled-text-color: #aaa;

.dropdown {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    
    position: relative;

    font-size: 20px;

    cursor: pointer;
}

.dropdown * {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    
    padding: 0;
    margin: 0;
}

.dropdown__button {
    display: flex;
    gap: 10px;
    font-size: inherit;
    
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    background-color: white;
    color: black;

    outline: none;
    border: none;
    border-radius: $dropdown-border-radius;

    padding: 5px 10px;
}

.dropdown__chevron {
    pointer-events: none;
}

.dropdown__options {
    visibility: hidden;
    list-style-type: none;

    position: absolute;
    top: calc(100% + 4px);

    background-color: white;
    border-radius: $dropdown-options-border-radius;
    padding: $dropdown-options-border-radius 0;
}

.dropdown__options--visible {
    visibility: visible;
}

.dropdown__option {
    background-color: white;
    padding: 0 10px;
    
    cursor: pointer;
}

.dropdown__option[disabled] {
    color: $disabled-text-color;
}

.dropdown__option:hover {
    background-color: #e4e4e4;
    padding: 0 10px;
}
